

    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium repudiandae dignissimos officiis ex temporibus dolorum ipsam voluptate. Vel quibusdam repudiandae id amet. Sequi fugiat sapiente impedit quia, ad iure officia.</p>
        <div class="cadre">
            <p>Bienvenue danss la plateforme GESTOCK dédiée à la gestion des stock d'un batiment de stockage</p>
        </div>
        <div class="cercle"> 
            <h1>utilisateur</h1>
            <a href="#"><img src="https://www.flaticon.com/svg/vstatic/svg/3135/3135715.svg?token=exp=1616021518~hmac=08f84991beffa5e63c4a8fcd3ef6890f" alt="utilisateur" width="100"></a>
        </div>
    
 
        
 
<app-alert></app-alert>
